workflow.json
{
  "name": "Sistema de Leads",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "fe0c4f10-b8f2-4c9c-938b-93fa03c2128e",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "95dd6d4b-3809-4510-8dfa-d6e6f441aa57",
      "name": "Webhook",
      "webhookId": "fe0c4f10-b8f2-4c9c-938b-93fa03c2128e"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "b5a58dc3-a2bb-4f5c-9187-471e2fc6cf8c",
              "leftValue": "={{ $json.body.nome }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "f78bc8d3-8b0e-4bad-b9eb-8a361bf787b7",
              "leftValue": "={{ $json.body.email }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        208,
        0
      ],
      "id": "0ea71260-a20f-4192-9212-b8bb12c05291",
      "name": "If"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\"ok\": true}",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        416,
        -96
      ],
      "id": "e0a8981d-063d-43f3-aa0d-c61cad864f9e",
      "name": "Respond to Webhook"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "timezone": "America/Sao_Paulo"
  },
  "versionId": "f54c2779-7812-433c-ba43-6b697c4dc742",
  "meta": {
    "instanceId": "46b356a3409925d99f8ae35c0e2addc14663a4a54fed15d6d7222ef82294eb2a"
  },
  "id": "yYllBicsACOyrQD4",
  "tags": []
}